## Overview of demo xcube datasets in object storage

This notebook gives an overview of the demo xcube datasets stored in an object storage bucket. For each xcube dataset the dataset's name, its chunk sizes, how many and which variables are in the cube as well as the first and last time stamp of the dataset are displayed. Additionally, the spatial coverage is displayed as well. 

The datsets' name can be used in the other notebooks to open the datasets using the `xcube.core.dsio.open_cube()` function. 

The URL for opening a data cube uses the following format: `'{endpoint_url}/{bucket}/{cube_name}'`. For example, `'https://s3.eu-central-1.amazonaws.com/xcube-examples/bc-olci-sns-l2c-2017_1x1024x1024.zarr'`.

---

Import a helper function that lists data cubes stored in an object storage bucket:

In [1]:
from show_remote_cubes import show_remote_cubes

In [2]:
bucket = 'xcube-examples'
endpoint_url = 'https://s3.eu-central-1.amazonaws.com'

Scan the bucket and return a data frame containing the cubes (this may take a few minutes):

In [3]:
overview_cubes_table = show_remote_cubes(bucket, endpoint_url)
overview_cubes_table

,cube_name,chunks,number_of_variables,variables,start_date,end_date,spatial_coverage
0,OLCI-SNS-RAW-CUBE-2.zarr,"time: 1, lat: 1000, lon: 2000",5,"c2rcc_flags, conc_chl, conc_tsm, kd489, qualit...",2016-11-24,2017-10-23,"lon_min: 0.0, lat_min: 50.0, lon_max: 5.0, lat..."
1,S2L2A-B04-Test-01.zarr,"time: 1, y: 305, x: 512",3,"B04, CLD, SCL",2018-05-01,2018-05-10,None
2,S2L2A_B04_B05_B06_B11_SCL_CLD_May_June_July201...,"time: 1, lat: 1024, lon: 1024",6,"B04, B05, B06, B11, CLD, SCL",2018-05-15,2018-07-29,"lon_min: 10.0, lat_min: 54.27, lon_max: 11.105..."
3,bc-olci-sns-l2c-2017_1x1024x1024.zarr,"time: 1, lat: 1024, lon: 1024",3,"chl_c2rcc, tsm_c2rcc, tur_nechad_665",2017-01-01,2017-12-31,"lon_min: -16.0, lat_min: 48.0, lon_max: 10.666..."
4,bc-sst-sns-l2c-2017_1x704x640.zarr,"time: 1, lat: 704, lon: 640",1,analysed_sst,2017-01-01,2017-12-31,"lon_min: -16.0, lat_min: 48.0, lon_max: 10.666..."